@font-face {
  font-family: 'TwebIcons-12';
  src:  url('fonts/TwebIcons-12.eot?1remg2');
  src:  url('fonts/TwebIcons-12.eot?1remg2#iefix') format('embedded-opentype'),
    url('fonts/TwebIcons-12.ttf?1remg2') format('truetype'),
    url('fonts/TwebIcons-12.woff?1remg2') format('woff'),
    url('fonts/TwebIcons-12.svg?1remg2#TwebIcons-12') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="twi-12-"], [class*=" twi-12-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'TwebIcons-12' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.twi-12-arrow-left:before {
  content: "\e91d";
}
.twi-12-arrow-right:before {
  content: "\e91e";
}
.twi-12-chevron-left:before {
  content: "\e900";
}
.twi-12-chevron-right:before {
  content: "\e901";
}
.twi-12-calendar:before {
  content: "\e903";
}
.twi-12-call:before {
  content: "\e904";
}
.twi-12-folder:before {
  content: "\e905";
}
.twi-12-mail:before {
  content: "\e906";
}
.twi-12-search:before {
  content: "\e907";
}
.twi-12-time:before {
  content: "\e908";
}
.twi-12-advise:before {
  content: "\e909";
}
.twi-12-calendar-1:before {
  content: "\e90a";
}
.twi-12-call-1:before {
  content: "\e90b";
}
.twi-12-chat:before {
  content: "\e90c";
}
.twi-12-dental:before {
  content: "\e90d";
}
.twi-12-doctor:before {
  content: "\e90e";
}
.twi-12-email:before {
  content: "\e90f";
}
.twi-12-facebook:before {
  content: "\e910";
}
.twi-12-location:before {
  content: "\e911";
}
.twi-12-menu:before {
  content: "\e912";
}
.twi-12-minus:before {
  content: "\e913";
}
.twi-12-play:before {
  content: "\e914";
}
.twi-12-plus:before {
  content: "\e915";
}
.twi-12-reply:before {
  content: "\e916";
}
.twi-12-service:before {
  content: "\e917";
}
.twi-12-sort-arrow-right:before {
  content: "\e918";
}
.twi-12-star:before {
  content: "\e919";
}
.twi-12-toward:before {
  content: "\e91a";
}
.twi-12-user:before {
  content: "\e91b";
}
.twi-12-youtube:before {
  content: "\e91c";
}
