<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topic</title>
</head>
<body>
    <header class="sticky top-0 z-30 bg-white">
        <div class="w-full bg-primary-1 ">
            <div class="w-full mx-auto xl:max-w-7xl">
                <div class="py-[9px] px-4 md:px-6 xl:px-2 2xl:px-0 w-full  ">
                    <div class="flex justify-between items-center">
                        <div class = 'font-semibold text-caption-2 text-white md:text-body-2'>Liên hệ chúng tôi 0901234567</div>
                        <div class = 'flex gap-6 md:gap-8'>
                            <div id="scheduler" >                                        
                                <a class ='flex items-center' href="#">
                                    <i class="twi-12-calendar-1 text-white text-[16px] md:text-[24px]"></i>
                                    <h1 class="ml-2 font-semibold text-caption-2 text-white md:text-body-2">
                                            Đặt lịch hẹn
                                    </h1>
                                </a>
                            </div>
                            <div class ='flex items-center pr-2'>
                                <h1 class="font-semibold text-caption-2 text-white md:text-body-2 ">Tiếng Việt</h1>
                                <i class=" twi-12-chevron-right text-white rotate-90"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="w-full mx-auto xl:max-w-7xl"> 
            <div class="md:px-6 w-full xl:px-0 px-4">
                <div class="w-full flex items-center py-4 justify-between">
                    <div>
                        <a href="./index.html"><img src ='../img/header-footer/Logo.png'></a>
                    </div>
                    <div id="menu-button" class= "xl:invisible ">
                        <i class="twi-12-menu text-header-icon" ></i>
                    </div> 
                    <ul class = 'hidden gap-20 xl:flex'>
                        <li class=" text-body-1 text-txt-2 hover:text-primary-1"><a href ='./index.html'>Trang chủ</a></li>
                        <li class=" text-body-1 text-txt-2 hover:text-primary-1"><a href ='./about.html'>Giới thiệu</a></li>
                        <li class=" font-semibold text-body-1 text-primary-1 hover:text-primary-1"><a href ='./services.html'>Dịch vụ</a></li>
                        <li class="text-body-1 text-txt-2 hover:text-primary-1"><a href ='./price.html'>Bảng giá</a></li>
                        <li class=" text-body-1 text-txt-2 hover:text-primary-1"><a href ='./recommend.html'>Tin tức</a></li>
                        <li class=" text-body-1 text-txt-2 hover:text-primary-1"><a href ='./contact.html'>Liên hệ</a></li>
                    </ul>
                </div>
            </div>
    
        </nav>
            <!-- Menu Drop Down -->
            <div class="menu-drop-down hidden">
                <div class="flex flex-col h-screen">
                    <a href="../index.html"><div class=" hover:text-primary-1 p-4  border-b border-border-1 text-body-1 text-txt-1 font-semibold"> Trang chủ</div></a>
                    <a href="./about.html"><div class="hover:text-primary-1 p-4  border-b border-border-1 text-body-1 text-txt-1 font-semibold"> Giới thiệu</div></a>
                    <a href="./services.html"> <div class="bg-primary-1 text-white p-4  border-b border-border-1 text-body-1 font-semibold"> Dịch vụ</div></a>
                    <a href="./price.html"><div class="hover:text-primary-1 p-4  border-b border-border-1 text-body-1 text-txt-1 font-semibold"> Bảng giá </div></a>
                    <a href="./recommend.html"><div class="hover:text-primary-1 p-4  border-b border-border-1 text-body-1 text-txt-1 font-semibold">  Tin tức</div></a>
                    <a href="./contact.html"><div class="hover:text-primary-1 p-4  border-b border-border-1 text-body-1 text-txt-1 font-semibold">Liên hệ</div></a> 
                </div>
            </div>
    </header>

    <main>
        <!-- banner -->
        <section>
            <div class="w-full px-0">
                <div  class="w-full bg-cover bg-center bg-no-repeat bg-banner-about">
                    <div class="w-full mx-auto xl:max-w-7xl ">
                        <div class="animated fade-in-bottom-up flex flex-col justify-center items-center gap-[30px] xl:gap-3.5 
                            py-[37%] md:py-[15%] xl:py-[11.5%]">
                            <div class="xl:text-heading-2 xl:font-semibold md:text-heading-1 md:font-bold font-semibold text-white text-heading-3">Chăm sóc răng cho trẻ</div>
                            <div class="flex flex-row gap-4">
                                <div class="xl:text-body-1 md:text-title-1 md:text-info-300 font-semibold text-info-400 text-body-2"><a href="./index.html">Trang chủ</a></div>
                                <div class="xl:text-body-1 md:text-about-banner-/ text-border-1 text-body-2">/</div>
                                <div class="xl:text-body-1 md:text-title-1 md:text-info-300 font-semibold text-info-400 text-body-2"><a href="./services.html">Dịch vụ</a></div>
                                <div class="xl:text-body-1 md:text-about-banner-/ text-border-1 text-body-2">/</div>
                                <div class="xl:text-body-1 md:text-title-1  text-white text-body-2">Chăm sóc răng cho trẻ</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="w-full mx-auto xl:max-w-7xl">
                <div class=" w-full xl:px-0 md:px-6 px-4">
                    <div class="xl:flex-row xl:gap-6 flex flex-col">
                        <div class="animated fade-in-right xl:max-w-[66%] py-16 xl:py-32">
                            <div class="flex flex-col gap-4 xl:gap-5">
                                <div class="font-semibold text-txt-1 text-heading-3">
                                    Chăm sóc răng miệng cho trẻ
                                </div>
                                <div class="flex gap-3">
                                    <div class="flex gap-2 items-center">
                                        <div class="twi-12-calendar-1 text-base	 text-primary-1"></div>
                                        <div class="text-txt-2 text-recom-font-1">28, TH 3, 2022</div>
                                    </div>
        
                                    <div class="flex gap-2 items-center">
                                        <div class="twi-12-user text-base	 text-primary-1"></div>
                                        <div class="text-txt-2 text-body-2 tracking-[0.2px]">Dr. Nguyễn Hoàng Long</div>
                                    </div>
                                </div>
                                <div class="text-txt-2 text-body-1">
                                    As grown-ups, we realize that our teeth require consistent care. 
                                    A strong oral cleanliness normal and expert dental care are both imperative. 
                                    Be that as it may, the same is valid for a kid’s first teeth, despite the fact that they are in 
                                    the end lost to clear a path for the lasting teeth. Truth be told, the disregard of a kid’s drain teeth and 
                                    general oralTo link your Facebook and Twitter accounts, open the Instagram app on your phone or tablet, and 
                                    select the Profile tab in the bottom-right corner of the screen. In the top-right corner of the profile screen, 
                                    tap the gear icon on the iOS or Windows Phone version of the Instagram app
                                    <br> <br>
                                    His may be a sign that you have a clinical sleep problem, such as insomnia disorder or sleep apnea. If you are doing all the right things and practicing good sleep hygiene, and still have trouble falling or staying asleep, you may need to see a sleep specialist.
                                    <br> <br>
                                    His may be a sign that you have a clinical sleep problem, such as insomnia disorder or sleep apnea. If you are doing all the right things and practicing good sleep hygiene, and still have trouble falling or staying asleep, you may need to see a sleep specialist.
                                    <br> <br>
                                    His may be a sign that you have a clinical sleep problem, such as insomnia disorder or sleep apnea. If you are doing all the right things and practicing good sleep hygiene, and still have trouble falling or staying asleep, you may need to see a sleep specialist.
                                </div>
                                <div class="relative pt-[62%] w-full h-full">
                                    <img class="rounded-lg top-0 left-0 w-full h-full absolute object-cover" src="../img/home/topic.png" alt="">
                                </div>
                            </div>
                            <div class="mt-9 w-fit">
                                <div class="rounded-lg bg-primary-4 py-3 px-4 text-txt-2 font-semibold text-button-2">
                                    Chuyên mục bác sĩ
                                </div>
                            </div>
                            <!-- line -->
                            <div class="w-full bg-border-1 h-px mt-12"></div>
                        </div>

                        <div class="animated fade-in-bottom-up sticky top-0 self-start xl:max-w-[32%] w-full flex flex-col gap-6 pb-16 xl:py-32">
                            <!-- Search bar -->
                            <input title="search" placeholder="Tìm kiếm..." class="flex  relative focus:outline-none bg-primary-5 rounded-lg text-txt-3 text-body-1 py-4 px-6">
                                <button class="absolute px-6 py-4 self-end twi-12-search  text-txt-3 text-2xl"></button>
                            </input>
                            <!-- News -->
                            <div class="flex flex-col gap-9 px-6 pt-6 pb-3 rounded-lg border border-border-1">
                                <!-- Title + line -->
                                <div class="flex flex-col gap-2 ">
                                    <div class="font-semibold text-recom-title-1 text-primary-1">
                                        Bài viết nổi bật
                                    </div>
                                    <!-- line -->
                                    <div class="w-full bg-border-1 h-px"></div>
                                </div>
    
                                <!-- News -->
                                <div class="flex flex-col gap-[13px]">
    
                                    <div class="flex gap-6 items-center">
                                        <!-- Image -->
                                        <div class="max-w-[73px] max-h-[73px] w-full">
                                            <div class="w-full h-full relative pt-[100%]">
                                                <a href="#"><img class="w-full h-full absolute top-0 left-0 rounded-lg object-cover" src="../img/home/examples2.png" alt=""></a>
                                            </div>
                                        </div>
                                        <!-- Content -->
                                        <div class="flex flex-col gap-2">
                                            <div class="text-primary-1 text-caption-1 ">
                                                Tin tức
                                            </div>
                                            <div class="xl:text-body-1 font-semibold text-txt-1 text-title-2 line-clamp-2">
                                                <a href="#">Cải tiến công nghệ</a>
                                            </div>
                                            <div class="xl:hidden text-txt-2 text-body-2">
                                                28, TH 3, 2022
                                            </div>
                                        </div>
                                    </div>

                                    <div class="flex gap-6 items-center">
                                        <!-- Image -->
                                        <div class="max-w-[73px] max-h-[73px] w-full">
                                            <div class="w-full h-full relative pt-[100%]">
                                                <a href="#"><img class="w-full h-full absolute top-0 left-0 rounded-lg object-cover" src="../img/home/examples1.png" alt=""></a>
                                            </div>
                                        </div>
                                        <!-- Content -->
                                        <div class="flex flex-col gap-2">
                                            <div class="text-primary-1 text-caption-1 ">
                                                Tin tức
                                            </div>
                                            <div class="xl:text-body-1 font-semibold text-txt-1 text-title-2 line-clamp-2">
                                                <a href="#">Cải tiến công nghệ</a>
                                            </div>
                                            <div class="xl:hidden text-txt-2 text-body-2">
                                                28, TH 3, 2022
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="flex gap-6 items-center">
                                        <!-- Image -->
                                        <div class="max-w-[73px] max-h-[73px] w-full">
                                            <div class="w-full h-full relative pt-[100%]">
                                                <a href="#"><img class="w-full h-full absolute top-0 left-0 rounded-lg object-cover" src="../img/home/examples3.png" alt=""></a>
                                            </div>
                                        </div>
                                        <!-- Content -->
                                        <div class="flex flex-col gap-2">
                                            <div class="text-primary-1 text-caption-1 ">
                                                Tin tức
                                            </div>
                                            <div class="xl:text-body-1 font-semibold text-txt-1 text-title-2 line-clamp-2">
                                                                                                <a href="#">Cải tiến công nghệ</a>
                                            </div>
                                            <div class="xl:hidden text-txt-2 text-body-2">
                                                28, TH 3, 2022
                                            </div>
                                        </div>
                                    </div>

                                    <div class="flex gap-6 items-center">
                                        <!-- Image -->
                                        <div class="max-w-[73px] max-h-[73px] w-full">
                                            <div class="w-full h-full relative pt-[100%]">
                                                <a href="#"><img class="w-full h-full absolute top-0 left-0 rounded-lg object-cover" src="../img/home/news-news-1.png" alt=""></a>
                                            </div>
                                        </div>
                                        <!-- Content -->
                                        <div class="flex flex-col gap-2">
                                            <div class="text-primary-1 text-caption-1 ">
                                                Tin tức
                                            </div>
                                            <div class="xl:text-body-1 font-semibold text-txt-1 text-title-2 line-clamp-2">
                                                <a href="#">Cải tiến công nghệ</a>
                                            </div>
                                            <div class="xl:hidden text-txt-2 text-body-2">
                                                28, TH 3, 2022
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <!-- Menu -->
                            <div class="flex flex-col gap-9 p-6 rounded-lg border border-border-1">
                                <!-- Title + line -->
                                <div class="flex flex-col gap-2">
                                    <div class="font-semibold text-recom-title-1 text-primary-1">
                                        Danh mục                                    
                                    </div>
                                    <!-- line -->
                                    <div class="w-full bg-border-1 h-px"></div>
                                </div>
                                <!-- Items -->
                                <div class="flex flex-col gap-4">
                                    <!-- Item -->
                                    <div class="flex justify-between items-center">
                                        <div class="flex gap-2 items-center">
                                            <a href="#">
                                                <div class="text-xl twi-12-folder text-primary-2">
                                                </div>
                                            </a>
                                            <div class="font-semibold text-button-link-1 text-txt-1">
                                                <a href="#">Trẻ em</a>
                                            </div>
                                        </div>

                                        <div class="bg-primary-1 rounded-xl">
                                            <div class="text-white text-caption-1 px-2 py-0.5">
                                                99+
                                            </div>
                                        </div>

                                    </div>

                                    <div class="flex justify-between items-center">
                                        <div class="flex gap-2 items-center">
                                            <a href="#">
                                                <div class="text-xl twi-12-folder text-primary-2">
                                                </div>
                                            </a>
                                            <div class="font-semibold text-button-link-1 text-txt-1">
                                               <a href="#"> Nha khoa</a>
                                            </div>
                                        </div>

                                        <div class="bg-primary-1 rounded-xl">
                                            <div class="text-white text-caption-1 px-2 py-0.5">
                                                99+
                                            </div>
                                        </div>

                                    </div>
                                    <div class="flex justify-between items-center">
                                        <div class="flex gap-2 items-center">
                                            <a href="#">
                                                <div class="text-xl twi-12-folder text-primary-2">
                                                </div>
                                            </a>
                                            <div class="font-semibold text-button-link-1 text-txt-1">
                                                <a href="#">Sức khỏe</a>
                                            </div>
                                        </div>

                                        <div class="bg-primary-1 rounded-xl">
                                            <div class="text-white text-caption-1 px-2 py-0.5">
                                                99+
                                            </div>
                                        </div>

                                    </div>

                                    <div class="flex justify-between items-center">
                                        <div class="flex gap-2 items-center">
                                            <a href="#">
                                                <div class="text-xl twi-12-folder text-primary-2">
                                                </div>
                                            </a>
                                            <div class="font-semibold text-button-link-1 text-txt-1">
                                                <a href="#">Implants</a>
                                            </div>
                                        </div>

                                        <div class="bg-primary-1 rounded-xl">
                                            <div class="text-white text-caption-1 px-2 py-0.5">
                                                99+
                                            </div>
                                        </div>

                                    </div>
                                    
                                    <div class="flex justify-between items-center">
                                        <div class="flex gap-2 items-center">
                                            <a href="#">
                                                <div class="text-xl twi-12-folder text-primary-2">
                                                </div>
                                            </a>
                                            <div class="font-semibold text-button-link-1 text-txt-1">
                                                <a href="#">Miệng</a>
                                            </div>
                                        </div>

                                        <div class="bg-primary-1 rounded-xl">
                                            <div class="text-white text-caption-1 px-2 py-0.5">
                                                99+
                                            </div>
                                        </div>

                                    </div>

                                    
                                    <div class="flex justify-between items-center">
                                        <div class="flex gap-2 items-center">
                                            <a href="#">
                                                <div class="text-xl twi-12-folder text-primary-2">
                                                </div>
                                            </a>
                                            <div class="font-semibold text-button-link-1 text-txt-1">
                                                <a href="#">Răng</a>
                                            </div>
                                        </div>

                                        <div class="bg-primary-1 rounded-xl">
                                            <div class="text-white text-caption-1 px-2 py-0.5">
                                                99+
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>                            
                        </div> 
                    </div>

                </div>
            </div>
        </section>
    </main>

    <footer class="bg-footer bg-cover bg-center bg-no-repeat">
        <div class="w-full mx-auto xl:max-w-7xl">
            <div class="md:px-6 w-full px-4 pt-[58px] xl:px-0">
                <div class="grid grid-cols-1 gap-[37px] md:gap-12 md:grid-cols-2 xl:grid-cols-4">
                    <div class="flex flex-col gap-6">
                        <div class="w-full flex items-center">
                            <img class="" src ='../img/header-footer/Logo.png'>
                        </div>
                        <div class=" text-body-2 text-txt-2">
                            Chăm sóc răng miệng là duy trì hàm răng khỏe mạnh và làm sạch miệng
                        </div>
                        <ul class="grid grid-cols-1 md:gap-3 gap-3.5">
                            <li class="flex gap-2 items-center text-body-2  text-txt-2"><div class="twi-12-location text-primary-1 text-base"></div> 345 Lê Văn Sỹ, P.13, Q.3</li>
                            <li class="flex gap-2 items-center text-body-2  text-txt-2"><div class="twi-12-call-1 text-primary-1 text-base"></div>(+84) 901234567</li>
                            <li class="flex gap-2 items-center text-body-2  text-txt-2"><div class="twi-12-email text-primary-1 text-base"></div>info@dencare.com</li>
                        </ul>
                    </div>
                    <div>
                        <div class="flex flex-col gap-3 md:pt-[19px]">
                            <div class=" font-semibold text-txt-1 text-body-1">dencare.com</div>
                            <hr class="w-[78px] h-1 bg-primary-1 border-0 rounded-lg "> 
                        </div>
                        <div class="mt-[19px]">
                            <ul class="flex flex-col gap-1">
                                <li class="  text-body-2 text-txt-2">Giới thiệu</li>
                                <li class="  text-body-2 text-txt-2">Dịch vụ</li>
                                <li class="  text-body-2 text-txt-2">Quy trình</li>
                                <li class="  text-body-2 text-txt-2">Đội ngũ</li>
                                <li class="  text-body-2 text-txt-2">Đánh giá khách hàng</li>
                            </ul>
                        </div>
                    </div>

                    <div>
                        <div class="flex flex-col gap-3 xl:pt-[19px]">
                            <div class="font-semibold text-txt-1 text-body-1">Giờ mở cửa</div>
                            <hr class="w-[78px] h-1 bg-primary-1 border-0 rounded-lg "> 
                        </div>
                        <div class="mt-[19px]">
                            <div class="flex flex-row gap-2">
                                <div class="flex flex-col gap-2">
                                    <div class="text-body-2 text-txt-2">Thứ 2 - Thứ 6 </div>
                                    <div class="text-body-2 text-txt-2">Thứ 7 </div>
                                </div>
                                <div class="flex flex-col gap-2">
                                    <div class="text-body-2 text-primary-1">08:00 - 22:00</div>
                                    <div class="text-body-2 text-primary-1">08:00 - 18:00</div>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                    <div class="md:max-w-[284px] md:max-h-[190px] xl:mt-[19px] aspect-[53%] w-full flex flex-col justify-between gap-[69px] md:gap-[76px] bg-footer-main bg-cover bg-center bg-no-repeat">
                        <div class="w-full flex">
                            <div class="mx-3 mt-[15px] md:mt-3 bg-white border-[1px] border-white">
                                <a href="#">
                                    <img class="px-[6px] py-[13px]" src="../img/home/footer-1.png" alt="">
                                </a>
                            </div>
                            <div class="py-3 ">
                                <a href="#">
                                    <div class=" font-semibold text-white text-body-1">Nha khoa Dencare
                                        <img class="inline" src="../img/icon/tick-footer.png" alt="">
                                    </div>
                                </a>
                                <div class=" text-white text-caption-1">2000 lượt thích</div>
                            </div>
                        </div>
                        <div class="flex items-center mb-3 mx-3">
                            <a href="#">
                                <div class="items-center bg-white border-[1px] border-white rounded-sm">
                                    <div class=" flex items-center px-2 py-1.5 gap-1">
                                        <div><img src="../img/icon/facebook icon.png" alt=""></div>
                                        <div class=" text-black text-caption-1">Thích Trang</div> 
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        <div class="xl:mt-[58px] md:mt-[35px] mt-[52px] py-3 text-body-1 font-semibold text-txt-3 text-center">
            Copyright © 2022 by T-Web. All Rights Reserved
        </div>

         <!-- fixed button -->
         <div class="z-50 flex flex-col fixed gap-8 items-center 
         bottom-20 right-4 md:bottom-14 md:right-6 xl:bottom-12 xl:right-12">
             <button id="scrollTop" class="
             hover:opacity-60 transition-all duration-700
             shadow-scrollTop
             hidden rounded-full p-2.5 bg-black bg-opacity-30 text-icon-about-4 "> <div class="twi-12-sort-arrow-right rotate-[-90deg] text-txt-1"> </div></button>
             <div class="flex flex-col gap-5">
                 <button class="hover:opacity-50 transition-all duration-700
                 shadow-fixedButton rounded-full p-2.5 bg-primary-1 border border-primary-1"> 
                     <a href="#">                        
                         <img src="../img/icon/message.svg" alt="">
                     </a>
                 </button>
                 <button class="hover:opacity-50 transition-all duration-700
                 shadow-fixedButton rounded-full p-2.5 bg-mess-1 border border-primary-1">
                     <a href="#">
                         <img src="../img/icon/messenger.svg" alt="">
                     </a>
                 </button>
                 <button class="hover:opacity-50 transition-all duration-700
                 shadow-fixedButton rounded-full p-2.5 bg-mess-2 border border-primary-1">
                     <a href="#">
                         <img src="../img/icon/zalo.png" alt="">
                     </a>
                 </button>
             </div>
        </div>

    </footer>
</body>
</html>